include ./blocks/_mixins

doctype html
html(lang='ru' manifest='offline.manifest')
    head
        include ./blocks/_head

        block links
            include ./blocks/_links
            // в base_css лежит весь сконкатенированный .css, в данном случае - декларации @font-face
            // которые теряются при попытке писать их в stylus'е
            link(href='./css/base_css.css' rel='stylesheet')
            // тут лежат все остальные стили базового шаблона, скомпиленные из стайлуса
            link(href='./css/base_style.css' rel='stylesheet')

        block components_links

    body.page(id=pageName ? pageName + '_page' : subTemplateName ? subTemplateName + '_page' : 'uh-inner_page',
         class=pageName ? pageName + '_page' + (subTemplateName ? ' ' + subTemplateName + '_page' : '') + (bodyClasses ? ' ' + bodyClasses : '') :
               subTemplateName ? subTemplateName + '_page' + (bodyClasses ? ' ' + bodyClasses : '') :
               'uh-inner-page' + (bodyClasses ? ' ' + bodyClasses : ''))

        .body-inner.uh-inner-page__inner
            header.page-header(class=pageName ? pageName + '-page__header ' + pageName + '-header' + (subTemplateName ? ' ' + subTemplateName + '-page__header ' + subTemplateName + '-header ' : '') + (headerClasses ? ' ' + headerClasses : '') :
                                     subTemplateName ? ' ' + subTemplateName + '-page__header ' + subTemplateName + '-header ' + (headerClasses ? ' ' + headerClasses : '') :
                                     'uh-inner-page__header uh-inner-header' + (headerClasses ? ' ' + headerClasses : ''))

                .page-header__top
                    block header
                        // default header
                        a.site-logo.site-logo--uh(href='#', title='Главная страница')
                            img.site-logo__image(src='./images/img-uh-logo.png' width='198' height='' alt='Логотип Unihotel')
                        h1.site-title Бесплатный международный туристический справочник
                        .site-language(tabindex=0)
                            form#site-language__form.site-language__form(method='POST' action="{% url 'language' %}")
                                csrf_token
                                input(type='hidden' name='next' value='{{ request.path }}')
                                input#site-language__value(type='hidden' name='language')
                                ul.site-language__menu
                                    each language, index in ['русский', 'english', 'chineese']
                                        li.site-language__menu-item(class=(index === 0) ? 'site-language__menu-item--active' : '')
                                            a.site-language__menu-link(data-language-code='{{ language.code }}' tabindex=0)= language

                .page-header__bottom
                    block search_panel
                        // default search panel
                        section.site-search
                            form#site-search__form.site-search__form(method='GET' action="{% url 'companies_search' %}")
                                //- csrf_token
                                //- .custom-input.custom-input--search
                                //- .site-search__panel
                                input#site-search__query.site-search__query(type='text' placeholder='Введите поисковый запрос' pattern='.+')
                                select#site-search__company-type.site-search__company-type
                                    option(value='') Тип компании
                                    each label, value in {aircompany: 'Авиакомпания', hotel: 'Отель', 'tourism-bureau': 'Бюро по туризму'}
                                        option(value=value)= label
                                select#site-search__country.site-search__country
                                    option(value='') Страна
                                    each label, value in {russia: 'Россия', thailand: 'Тайланд', 'new-zealand': 'Новая зеландия'}
                                        option(value=value)= label
                                input#site-search__company-id.site-search__company-id(type='text' placeholder='ID Компании')
                                button#site-search__form-submit.site-search__form-submit.btn.btn--type--3(type='submit') Поиск

            aside.page-aside(class=pageName ? pageName + '-page__aside ' + pageName + '-aside' + (subTemplateName ? ' ' + subTemplateName + '-page__aside ' + subTemplateName + '-aside ' : '') + (asideClasses ? ' ' + asideClasses : '') :
                             subTemplateName ? ' ' + subTemplateName + '-page__aside ' + subTemplateName + '-aside ' + (asideClasses ? ' ' + asideClasses : '') :
                             'uh-inner-page__aside uh-inner-page__aside--fixed uh-inner-aside' + (asideClasses ? ' ' + asideClasses : ''))

                block right_side
                    // default right-side aside content

                    header.uh-inner-aside__header
                        nav.uh-inner-aside__user-controls.user-controls
                            ul.user-controls__menu
                                li.user-controls__item
                                    a.user-controls__user-name(href='#' title='User name') Джонни Депп
                                li.user-controls__item
                                    a.user-controls__user-company(href='#' title='Active user company').
                                        Unihotel administration account
                                        (ID: <span class="user-controls__company-id">515</span>)
                                    a.user-controls__change-company(data-open-modal='changeCompanyModal' href='#' title='Change user company')
                                li.user-controls__item
                                    a.user-controls__logout(href='#' title='Logout') Выход
                        button.uh-inner-aside__toggle(data-alternate-title='Открыть' title='Свернуть') Свернуть

                    nav.main-nav(class=pageName ? pageName + '-page__site-nav ' + (subTemplateName ? ' ' + subTemplateName + '-page__site-nav ' : '') + (siteNavClasses ? ' ' + siteNavClasses : '') :
                                 subTemplateName ? ' ' + subTemplateName + '-site-nav ' + (siteNavClasses ? ' ' + siteNavClasses : '') :
                                'uh-inner-page__site-nav uh-inner-site-nav' + (siteNavClasses ? ' ' + siteNavClasses : ''))
                        ul.main-nav__menu

                            block main_nav
                                // default main navigation content

                                li.main-nav__item.main-nav__item--xs
                                    a.main-nav__link.main-nav__link--uh-home(href='#', title='Домашнаяя страница') Домашнаяя страница
                                li.main-nav__item
                                    a.main-nav__link.main-nav__link--company-profile(href='#', title='Профайл компании') Профайл компании
                                    ul.main-nav__submenu
                                        li.main-nav__submenu-item
                                            a.main-nav__submenu-link(href="#" title='Профайл компании' tabindex='-1') Профайл компании
                                        li.main-nav__submenu-item
                                            a.main-nav__submenu-link(href="#" title='Файлы компании' tabindex='-1') Файлы компании
                                        li.main-nav__submenu-item
                                            a.main-nav__submenu-link(href="#" title='Онлайн модуль' tabindex='-1') Онлайн модуль
                                li.main-nav__item
                                    a.main-nav__link.main-nav__link--hotels(href='#', title='Мои отели') Мои отели
                                li.main-nav__item
                                    a.main-nav__link.main-nav__link--company-files(href='#', title='Файлы компании') Файлы компании
                                    ul.main-nav__submenu
                                        li.main-nav__submenu-item
                                            a.main-nav__submenu-link(href="#" title='Файлы компании' tabindex='-1') Файлы компании
                                        li.main-nav__submenu-item
                                            a.main-nav__submenu-link(href="#" title='Онлайн модуль' tabindex='-1') Онлайн модуль
                                li.main-nav__item
                                    a.main-nav__link.main-nav__link--documents(href='#', title='Документы') Документы
                                li.main-nav__item
                                    a.main-nav__link.main-nav__link--instruments(href='#', title='Инструменты') Инструменты
                                li.main-nav__item
                                    a.main-nav__link.main-nav__link--finances(href='#', title='Финансы') Финансы
                                li.main-nav__item
                                    a.main-nav__link.main-nav__link--avia(href='#', title='Авиа') Авиа
                                li.main-nav__item
                                    a.main-nav__link.main-nav__link--news(href='#', title='Новости') Новости
                                li.main-nav__item
                                    a.main-nav__link.main-nav__link--contacts(href='#', title='Контакты') Контакты
                                li.main-nav__item
                                    a.main-nav__link.main-nav__link--chat(href='#', title='Чат') Чат

                                block additional_main_nav
                                    // additional main navigation content

                    nav.actions-nav
                        ul.actions-nav__menu

                            block actions_nav
                                // default actions navigation content

                                li.actions-nav__item.actions-nav__item--big
                                    a.actions-nav__link.actions-nav__link--invite-partners(href='#', title='Пригласите всех ваших партнёров для совместной работы') Приграсите всех ваших партнёров для совместной работы
                                li.actions-nav__item.actions-nav__item--small
                                    a.actions-nav__link.actions-nav__link--messages(data-items-count='7', href='#', title='Сообщения') Сообщения
                                li.actions-nav__item.actions-nav__item--small
                                    a.actions-nav__link.actions-nav__link--orders(href='#', title='Заявки') Заявки
                                li.actions-nav__item.actions-nav__item--small.actions-nav__item--offset-bottom
                                    a.actions-nav__link.actions-nav__link--bills(data-items-count='0', href='#', title='Счета') Счета
                                li.actions-nav__item.actions-nav__item--bright
                                    a.actions-nav__link.actions-nav__link--help(href='#', title='Помощь') Помощь

                                block additional_actions_nav
                                    // additional actions navigation content

            - var siteMessages = true;
            if siteMessages
                ul.site-messages
                    each messageText, messageType in {success: 'Successful operation!', error: 'Sorry, an Error occured!', alert: 'Alert! Important information!'}
                        .site-messages__message(class='site-messages__message--' + messageType, title=messageType + ' message')= messageText

            main(class=pageName ? pageName + '-page__main ' + (subTemplateName ? ' ' + subTemplateName + '-page__main ' : '') + (mainClasses ? ' ' + mainClasses : '') :
                       subTemplateName ? ' ' + subTemplateName + '-page__main ' + (mainClasses ? ' ' + mainClasses : '') :
                       'uh-inner-page__main uh-inner-main' + (mainClasses ? ' ' + mainClasses : ''))

                block content_left_side
                    // default content left-side block
                    nav.page-nav(class=pageName ? pageName + '-page__page-nav ' + (subTemplateName ? ' ' + subTemplateName + '-page__page-nav ' : '') + (pageNavClasses ? ' ' + pageNavClasses : '') :
                       subTemplateName ? ' ' + subTemplateName + '-page-nav ' + (pageNavClasses ? ' ' + pageNavClasses : '') :
                       'uh-inner-page__page-nav uh-inner-page-nav' + (pageNavClasses ? ' ' + pageNavClasses : ''))
                        ul.page-nav__menu
                            li.page-nav__menu-item
                                a.page-nav__menu-link(href='#', title='Ссылка 1') Ссылка 1
                            li.page-nav__menu-item
                                a.page-nav__menu-link(href='#', title='Ссылка 2') Ссылка 2

                            block additional_page_nav
                                // default page additional navigation

                block content
                    // default page content
                    article.page-content(class=pageName ? pageName + '-page__content ' + pageName + '-content' + (subTemplateName ? ' ' + subTemplateName + '-page__content ' + subTemplateName + '-content ' : '') + (contentClasses ? ' ' + contentClasses : '') :
                                               subTemplateName ? ' ' + subTemplateName + '-page__content ' + subTemplateName + '-content ' + (contentClasses ? ' ' + contentClasses : '') :
                                               'uh-inner-page__content uh-inner-content' + (contentClasses ? ' ' + contentClasses : ''))
                        p Default page content

                        block additional_content
                            // additional default page content

            footer.page-footer(class=pageName ? pageName + '-page__footer ' + pageName + '-footer' + (subTemplateName ? ' ' + subTemplateName + '-page__footer ' + subTemplateName + '-footer ' : '') + (footerClasses ? ' ' + footerClasses : '') :
                                     subTemplateName ? ' ' + subTemplateName + '-page__footer ' + subTemplateName + '-footer ' + (footerClasses ? ' ' + footerClasses : '') :
                                     'uh-inner-page__footer uh-inner-footer' + (footerClasses ? ' ' + footerClasses : ''))

                block footer
                    // default footer content
                    .uh-inner-footer__info
                        .uh-inner-footer__copyright.
                            Unihotel 2017<br>
                            Все права защищены
                        ul.uh-inner-footer__nav
                            li.uh-inner-footer__nav-item
                                a.uh-inner-footer__nav-link(href='#' title='Связаться с нами') Связаться с нами
                            li.uh-inner-footer__nav-item
                                a.uh-inner-footer__nav-link(href='#' title='Условия предоставления услуг') Условия предоставления услуг
                        ul.uh-inner-footer__payments
                            li.uh-inner-footer__payments-item
                                a.uh-inner-footer__payments-link(href='#' title='visa / mastercard')
                                    img.uh-inner-footer__payments-image(src='./images/img-payments-visa.png' alt='visa / mastercard' width='46' height='58')
                    ul.uh-inner-footer__social
                        li.uh-inner-footer__social-item
                            a.uh-inner-footer__social-link.uh-inner-footer__social-link--fb(href='#' title='facebook') facebook
                        li.uh-inner-footer__social-item
                            a.uh-inner-footer__social-link.uh-inner-footer__social-link--li(href='#' title='linked in') linked in
                        li.uh-inner-footer__social-item
                            a.uh-inner-footer__social-link.uh-inner-footer__social-link--ytb(href='#' title='youtube') youtube
                        li.uh-inner-footer__social-item
                            a.uh-inner-footer__social-link.uh-inner-footer__social-link--inst(href='#' title='instagram') instagram




            block inner_modals

        block modals
            section#site-loader.site-loader
                svg#site-loader__circle.site-loader__circle
                    g
                        path.ld-l(fill="#39C0C4", d="M43.6,33.2h9.2V35H41.6V15.2h2V33.2z")
                        path.ld-o(fill="#39C0C4", d="M74.7,25.1c0,1.5-0.3,2.9-0.8,4.2c-0.5,1.3-1.2,2.4-2.2,3.3c-0.9,0.9-2,1.6-3.3,2.2c-1.3,0.5-2.6,0.8-4.1,0.8s-2.8-0.3-4.1-0.8c-1.3-0.5-2.4-1.2-3.3-2.2s-1.6-2-2.2-3.3C54.3,28,54,26.6,54,25.1s0.3-2.9,0.8-4.2c0.5-1.3,1.2-2.4,2.2-3.3s2-1.6,3.3-2.2c1.3-0.5,2.6-0.8,4.1-0.8s2.8,0.3,4.1,0.8c1.3,0.5,2.4,1.2,3.3,2.2c0.9,0.9,1.6,2,2.2,3.3C74.4,22.2,74.7,23.6,74.7,25.1z M72.5,25.1c0-1.2-0.2-2.3-0.6-3.3c-0.4-1-0.9-2-1.6-2.8c-0.7-0.8-1.6-1.4-2.6-1.9c-1-0.5-2.2-0.7-3.4-0.7c-1.3,0-2.4,0.2-3.4,0.7c-1,0.5-1.9,1.1-2.6,1.9c-0.7,0.8-1.3,1.7-1.6,2.8c-0.4,1-0.6,2.1-0.6,3.3c0,1.2,0.2,2.3,0.6,3.3c0.4,1,0.9,2,1.6,2.7c0.7,0.8,1.6,1.4,2.6,1.9c1,0.5,2.2,0.7,3.4,0.7c1.3,0,2.4-0.2,3.4-0.7c1-0.5,1.9-1.1,2.6-1.9c0.7-0.8,1.3-1.7,1.6-2.7C72.4,27.4,72.5,26.3,72.5,25.1z")
                        path.ld-a(fill="#39C0C4", d="M78.2,35H76l8.6-19.8h2L95.1,35h-2.2l-2.2-5.2H80.4L78.2,35z M81.1,27.9h8.7l-4.4-10.5L81.1,27.9z")
                        path.ld-d(fill="#39C0C4", d="M98,15.2h6.6c1.2,0,2.5,0.2,3.7,0.6c1.2,0.4,2.4,1,3.4,1.9c1,0.8,1.8,1.9,2.4,3.1s0.9,2.7,0.9,4.3c0,1.7-0.3,3.1-0.9,4.3s-1.4,2.3-2.4,3.1c-1,0.8-2.1,1.5-3.4,1.9c-1.2,0.4-2.5,0.6-3.7,0.6H98V15.2z M100,33.2h4c1.5,0,2.8-0.2,3.9-0.7c1.1-0.5,2-1.1,2.8-1.8c0.7-0.8,1.3-1.6,1.6-2.6s0.5-2,0.5-3c0-1-0.2-2-0.5-3c-0.4-1-0.9-1.8-1.6-2.6c-0.7-0.8-1.6-1.4-2.8-1.8c-1.1-0.5-2.4-0.7-3.9-0.7h-4V33.2z")
                        path.ld-i(fill="#39C0C4", d="M121.2,35h-2V15.2h2V35z")
                        path.ld-n(fill="#39C0C4", d="M140.5,32.1L140.5,32.1l0.1-16.9h2V35h-2.5l-11.5-17.1h-0.1V35h-2V15.2h2.5L140.5,32.1z")
                        path.ld-g(fill="#39C0C4", d="M162.9,18.8c-0.7-0.7-1.5-1.3-2.5-1.7c-1-0.4-2-0.6-3.3-0.6c-1.3,0-2.4,0.2-3.4,0.7s-1.9,1.1-2.6,1.9c-0.7,0.8-1.3,1.7-1.6,2.8c-0.4,1-0.6,2.1-0.6,3.3c0,1.2,0.2,2.3,0.6,3.3c0.4,1,0.9,2,1.6,2.7c0.7,0.8,1.6,1.4,2.6,1.9s2.2,0.7,3.4,0.7c1.1,0,2.1-0.1,3.1-0.4c0.9-0.2,1.7-0.5,2.3-0.9v-6h-4.6v-1.8h6.6v9c-1.1,0.7-2.2,1.1-3.5,1.5c-1.3,0.3-2.5,0.5-3.9,0.5c-1.5,0-2.9-0.3-4.1-0.8s-2.4-1.2-3.3-2.2c-0.9-0.9-1.6-2-2.1-3.3s-0.8-2.7-0.8-4.2s0.3-2.9,0.8-4.2c0.5-1.3,1.2-2.4,2.2-3.3c0.9-0.9,2-1.6,3.3-2.2c1.3-0.5,2.6-0.8,4.1-0.8c1.6,0,3,0.2,4.1,0.7s2.2,1.1,3,2L162.9,18.8z")
                svg.uil-ripple(width='182px' height='182px' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid")
                    rect.bk(x="0" y="0" width="100" height="100" fill="none")
                    g
                        animate(attributeName="opacity" dur="4s" repeatCount="indefinite" begin="0s" keyTimes="0;0.33;1" values="1;1;0")
                        circle(cx="50" cy="50" r="40" stroke="#eeeeee" fill="none" stroke-width="2" stroke-linecap="round")
                            animate(attributeName="r" dur="4s" repeatCount="indefinite" begin="0s" keyTimes="0;0.33;1" values="0;22;44")
                    g
                        animate(attributeName="opacity" dur="4s" repeatCount="indefinite" begin="2s" keyTimes="0;0.33;1" values="1;1;0")
                        circle(cx="50" cy="50" r="40" stroke="#eeeeee" fill="none" stroke-width="2" stroke-linecap="round")
                            animate(attributeName="r" dur="4s" repeatCount="indefinite" begin="2s" keyTimes="0;0.33;1" values="0;22;44")

            section.site-modal.change-company(data-modal-name="changeCompanyModal" aria-hidden="true" aria-labelledby="changeCompanyModal" role="dialog")
                .site-modal__inner
                    header.site-modal__header
                        button.site-modal__close(data-dismiss="modal" aria-label="Close" type="button" title="{% trans 'Close modal' %}")
                            span(aria-hidden="true") &times;
                        h4#changeCompanyModal.site-modal__title Company change
                    div.site-modal__content.change-company__content
                        form#company-change-form(action="{% url 'change_company' %}" method='POST')
                            csrf_token
                            section.default-tabs(role="tabpanel")
                                input#select-tab.default-tabs__radio-control(type="radio" name="default-tabs-control" value="select-tab" checked=true)
                                input#enter-tab.default-tabs__radio-control(type="radio" name="default-tabs-control" value="enter-tab")
                                ul.default-tabs__controls(role="tablist")
                                    li.default-tabs__controls-item(role="presentation")
                                        label.default-tabs__controls-label(data-toggle="tab" aria-controls="home" aria-expanded="true" role="tab" for="select-tab") Select from the list
                                    li.default-tabs__controls-item(role="presentation")
                                        label.default-tabs__controls-label(data-toggle="tab" aria-controls="profile" aria-expanded="false" role="tab" for="enter-tab") Ввести ID компании
                                .default-tabs__content
                                    section.default-tabs__tab-panel.default-tabs__tab-panel--select(role="tabpanel")
                                        select.default-select(name='company_to')
                                            each company, id in ['corona travel', 'nkar', 'santibury beach and spa']
                                                option(value=id selected=(id === 1) ? true : false title="your company")= company
                                                |(id: id)
                                    section.default-tabs__tab-panel.default-tabs__tab-panel--enter(role="tabpanel")
                                        input.default-input(type="text" title="your company" name="company_to" placeholder="ID")
                    footer.site-modal__footer
                        ul.site-modal__controls.modal-controls
                            li.modal-controls__item
                                button.modal-controls__button.modal-controls__button--cancel(data-dismiss="modal" type="button" title="Cancel") Cancel
                            li.modal-controls__item
                                button.modal-controls__button.modal-controls__button--submit(type="submit" form="company-change-form" title="Change company") Change company


        block templates

        block scripts
            include ./blocks/_scripts
            script(src='./js/base_js.js')

        block components_scripts
