extends ../../layouts/sub/sub-2/sub-2

include ./blocks/_mixins.jade


block head
    - var pageName = 'registration';
    - var pageTitle = 'Registration page template';


block append links
    link(href='../../distrs/mCustomScrollbar/jquery.mCustomScrollbar.min.css' rel='stylesheet')
    link(href='../../distrs/mCustomScrollbar/unihotel-registration-scrollbar.min.css' rel='stylesheet')
    //- link(href='./css/page_css.css' rel='stylesheet')  // к этому шаблону не присоединено чистых css файлов
    link(href='./css/page_style.css' rel='stylesheet')

    link(href='../../assets/css/registration-temporary-fix.min.css' rel='stylesheet')


block append scripts
    script(src='../../distrs/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js')
    script(src='./js/page_js.js')


block append content 
    article.content-registration
        h1.content-registration__title Регистрация<br> нового пользователя
        form#registration-form.content-registration__form.registration-form(method=POST)
            .registration-form__inner
                fieldset.registration-form__step.registration-form__step-1
                    .l-row.l-row-main-start.l-row-wrap
                        .l-col-basis-200
                            legend.registration-form__legend(data-step-number='1') Введите e-mail
                        .l-col-basis-300
                            +custom_input('dark', 'email', 'reg-user-email', 'registration-form__input', 'user-email', required=true, false, '[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$') 

                fieldset.registration-form__step.registration-form__step-2
                    legend.registration-form__legend(data-step-number='2') Сведения о компании
                    .l-row.l-row-main-start.l-row-wrap
                        .l-row.l-row-wrap.l-col-basis-500
                            .l-col-basis-200
                                label.registration-form__label(for='reg-company-name') Название
                            .l-col-basis-300
                                +custom_input('dark', 'text', 'reg-company-name', 'registration-form__input', 'company-name', required=true)
                        .l-row.l-row-wrap.l-col-basis-500
                            .l-col-basis-200
                                label.registration-form__label(for='reg-company-jur-name') Юридическое название
                            .l-col-basis-300
                                +custom_input('dark', 'text', 'reg-company-jur-name', 'registration-form__input', 'company-jur-name', true)
                    .l-row.l-row-main-start.l-row-wrap
                        .l-row.l-row-wrap.l-col-basis-500
                            .l-col-basis-200
                                label.registration-form__label(for='reg-company-country') Страна
                            .l-col-basis-300
                                +custom_select(mod='dark', id='reg-company-country', addClass='registration-form__select', name='company-country', required=true)
                                    option(value='' selected)
                                    option(value='Russia') Russia
                                    option(value='USA') USA
                                    option(value='Great Britain') Great Britain
                        .l-row.l-row-wrap.l-col-basis-500
                            .l-col-basis-200
                                label.registration-form__label(for='reg-company-type') Вид деятельности
                            .l-col-basis-300
                                +custom_select(mod='dark', id='reg-company-type', addClass='registration-form__select', name='company-type', required=true) 
                                    option(value='' selected)
                                    option(value='Aircompany') Aircompany
                                    option(value='Tour operator') Tour operator
                                    option(value='Representative office') Representative office
                    .l-row.l-row-main-start.l-row-wrap
                        .l-row.l-row-wrap.l-col-basis-500
                            .l-col-basis-200
                                label.registration-form__label Специализация
                            .l-col-basis-300
                                .registration__right-box
                                    +custom_checkbox('dark', 'Тематический парк', 'reg-specialization-theme-park', false, true)
                                    +custom_checkbox('dark', 'Аттракцион', 'reg-specialization-attraction')
                                    +custom_checkbox('dark', 'Аренда яхт', 'reg-specialization-rent-yacht')
                                    +custom_checkbox('dark', 'Аренда самолетов', 'reg-specialization-rent-plane', false, true)
                                    +custom_checkbox('dark', 'Аренда вертолетов', 'reg-specialization-rent-helicopter')

                fieldset.registration-form__step.registration-form__step-3
                    legend.registration-form__legend(data-step-number='3') Контактное лицо
                    .l-row.l-row-main-start.l-row-wrap
                        .l-row.l-row-wrap.l-col-basis-500
                            .l-col-basis-200
                                label.registration-form__label(for='reg-contact-full-name')  ФИО
                            .l-col-basis-300
                                +custom_input('dark', 'text', 'reg-contact-full-name', 'registration-form__input', 'contact-full-name', true, false, pattern='[A-Za-zА-Яа-яЁё]{6,}')
                        .l-row.l-row-wrap.l-col-basis-500
                            .l-col-basis-200
                                label.registration-form__label(for='reg-contact-phone') Номер телефона
                            .l-col-basis-300
                                +custom_input('dark', 'text', 'reg-contact-phone', 'registration-form__input', 'contact-phone', required=true, placeholder='+7 ( ___ ) ___ __ __', pattern='\\+7\\s\\(\\s[0-9]{3}\\s\\)\\s[0-9]{3}\\s[0-9]{2}\\s[0-9]{2}', value='+7 (')

                fieldset.registration-form__step.registration-form__step-4
                    legend.registration-form__legend(data-step-number='4') Пароль
                    .l-row.l-row-main-start.l-row-wrap 
                        .l-row.l-row-wrap.l-col-basis-500
                            .l-col-basis-200
                                label.registration-form__label(for='reg-user-password') Пароль
                            .l-col-basis-300
                                +custom_input('dark', 'password', 'reg-user-password', 'registration-form__input', 'user-password', true, false, pattern='[\\w|\\W]{6,}')
                            .l-col-basis-200
                                label.registration-form__label(for='reg-user-password-check') Подтвердите пароль
                            .l-col-basis-300
                                +custom_input('dark', 'password', 'reg-user-password-check', 'registration-form__input', 'user-password-check', true, false, pattern='[\\w|\\W]{6,}')
                        .l-row.l-row-wrap.l-row-cross-end.l-col-basis-500 
                            .l-col-basis-200
                                label.registration-form__label(for='reg-captcha') Введите код с картинки
                                img#reg-captcha__image.registration-form__captcha-image(alt='captcha image' src='images/bg-captcha.png' width='97' height='35')
                            .l-col-basis-300
                                +custom_input('dark', 'text', 'reg-captcha', 'registration-form__input', 'captcha', true)

            section.registration-form__choose-package.package-choose
                h1.package-choose__title Выберите пакет
                .package-choose__description
                    p.
                        Мы открываем Вам бесплатный сквозной канал для показа
                        ваших новостей и коллекции публикаций для всех категорий
                        наших пользователей сроком на 6 месяцев!
                    p.
                        За это время Вы можете протестировать удобство и
                        инструменты нашего Справочника, проанализировать охват
                        аудитории и распространения ваших новостей и принять
                        решение о дальнейшем сотрудничестве.
                ul.package-choose__packages
                    li.package-choose__package
                        input#service-package--standard.is-hidden(type='radio' name='service-package' value='standard')
                        label.service-package(for='service-package--standard' tabindex=0)
                            h2.service-package__title Пакет «Стандарт»
                            ul.service-package__features
                                li.service-package__feature
                                    +custom_checkbox('dark', 'Годовой абонемент', 'feature-yearly-subscription', false, true, true)
                                li.service-package__feature
                                    +custom_checkbox('dark', 'Безлимитная публикация новостей', 'feature-unlimited-news', false, true, true)
                                li.service-package__feature
                                    +custom_checkbox('dark', 'Сайт-профайл моей компании', 'feature-company-profile-site', false, true, true)
                            .service-package__price
                                b.service-package__price--value 450
                                | руб./год
                    li.package-choose__package
                        input#service-package--professional.is-hidden(type='radio' name='service-package' value='professional')
                        label.service-package(for='service-package--professional' tabindex=0)
                            h2.service-package__title Пакет «Профессионал»
                            ul.service-package__features 
                                li.service-package__feature
                                    +custom_checkbox('dark', 'Годовой абонемент', 'feature-yearly-subscription', false, true, disabled=true)
                                li.service-package__feature
                                    +custom_checkbox('dark', 'Безлимитная публикация новостей', 'feature-unlimited-news', false, true, disabled=true)
                                li.service-package__feature
                                    +custom_checkbox('dark', 'Сайт-профайл моей компании', 'feature-company-profile-site', false, true, disabled=true) 
                                li.service-package__feature
                                    +custom_checkbox('dark', 'Рассылка 1 раз в месяц по нашей базе данных', 'feature-database-distribution', false, true, disabled=true)
                            .service-package__price
                                b.service-package__price--value 750
                                | руб./год 

            button.btn.btn--v7#registration-form__submit(type=submit) Регистрация


block right_side
    //- обнуляем этот блок, иначе он унаследуется от sub-2.jade
